@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --primary-color: #5bc0eb;
   --secondary-color: #33658a;
   --accent1-color: #f5f3bb;
   --accent2-color: #e88d67;

   --heading-font: 'Raleway', serif;
   --paragraph-font: 'Raleway', serif;

   --nav-background-color: #f5f3bb;
   --nav-link-color: #33658a;
   --nav-hover-link-color: #33658a;
   --nav-hover-background-color: #e88d67;
}

body {
    font-family: var(--paragrah-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header { 
    padding: 20px;
    background-color: var(--accent1-color)
}

p {
    padding: 25px;
}

.hero {
    position: relative;
} 

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;

}

.hero article img {
    position: absolute;
    width: 200px;
    float: right; 
}
